<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>addBook</display-name>
    <servlet-name>addBook</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.addBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <display-name>libraryManApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addBookServlet</display-name>
    <servlet-name>addBookServlet</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.addBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBooksServlet</display-name>
    <servlet-name>DisplayBooksServlet</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.DisplayBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBooksServlet</servlet-name>
    <url-pattern>/DisplayBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookServlet</display-name>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.EditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/EditBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDetailsServlet</display-name>
    <servlet-name>EditDetailsServlet</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.EditDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDetailsServlet</servlet-name>
    <url-pattern>/EditDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HideServlet</display-name>
    <servlet-name>HideServlet</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.HideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HideServlet</servlet-name>
    <url-pattern>/HideServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBooks</display-name>
    <servlet-name>UserBooks</servlet-name>
    <servlet-class>com.mokalmat.libraryManApp.Servlets.UserBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBooks</servlet-name>
    <url-pattern>/UserBooks</url-pattern>
  </servlet-mapping>
</web-app>